<div class="legal-container">
    <div class="logo-container">
        <img class="legal-container-logo" src="./../../assets/img/header1.png">
    </div>
    <div>
        <div class="headline">
            <h1>Legal notice</h1>
            <button routerLink="/login" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
        </div>
        <h2>Information according to § 5 TMG</h2>
        <p>Marijan Dupkovic<br /><br>
            Königsbergerstr. 65<br />
            21465 Reinbek</p>
        <h2>Kontakt</h2>
        <p>E-Mail:
            <a href="mailto:info@marijandupkovic.com">info@marijandupkovic.com</a>
        </p>
        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</div>