@import './../../styles.scss';

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid $antiflash-red;

        @media (max-width: 600px) {
            font-size: 0.6rem;
        }

        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 48px;
            color: $indigo-dye;
            text-align: end !important;

            &:first-child {
                text-align: start !important;
            }
        }
    }

    th {
        color: $antiflash-red;
        font-weight: 500;
        text-align: end !important;

        &:first-child {
            text-align: start !important;
        }
    }
}

mat-card {
    background-color: $prussian-blue;

    mat-card-header {
        margin-bottom: 1rem;
    }
}

.click {
    cursor: pointer;

    &:hover {
        color: $white;
    }
}