
    <div class="dialog-container" >

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <h1 mat-dialog-title>Get reset password mail</h1>
        <div mat-dialog-content class="dialog-content" >

            <div class="full-width" >
                <mat-form-field appearance="outline" color="accent" class="full-width">
                    <mat-label>Email</mat-label>
                    <input [disabled]="loading" [(ngModel)]="rs.mail" type="email" matInput placeholder="Placeholder">
                    <!-- <mat-hint>Please enter your birthdate</mat-hint> -->
                </mat-form-field>
            </div>


        </div>
        <div mat-dialog-actions class="btn-position">
            <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
            <button [disabled]="loading" (click)="sendResetMail()" mat-button cdkFocusInitial>Send Mail</button>
        </div>

    </div>
